---
	import { Icon } from 'astro-icon'
  const THEME_LINK = {
    green: {
      background: "bg-green-300",
      hover: "hover:bg-green-400"
    },
    slate: {
      background: "bg-slate-300",
      hover: "hover:bg-slate-400"
    },
    red: {
      background: "bg-red-300",
      hover: "hover:bg-red-400"
    },
    blue: {
      background: "bg-blue-300",
      hover: "hover:bg-blue-400"
    }
  }
  const {text, icon = "", color, to} = Astro.props
  const backgroundColor = THEME_LINK[color].background
  const backgroundColorHover = THEME_LINK[color].hover
  const classNameLink = `flex min-w-40 items-center gap-2 rounded-xl py-2 px-5 text-md font-semibold text-slate-900 ${backgroundColor} ${backgroundColorHover} hover:text-slate-100`
---
<a
  class={classNameLink}
  href={to}
  target="_blank"
  rel="noreferrer"
>
  {icon != "" && <Icon name={"mdi:" + icon} class="w-8" />}
  {text}
</a>